@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=JetBrains+Mono:100,200,300,regular,500,600,700,800,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic);

$navFont: "Montserrat", sans-serif;
$jetFont: "JetBrains Mono", sans-serif;

// button mixin;
@mixin btnn (
    $bgClr: black,
    $clr: white,
    $ptop: 5px,
    $pleft: 5px,
    $brd: 20px,
    $fs: 16px,
    $fw: 400,
    $bdClr: 1px solid black) {
        background: $bgClr;
        color: $clr;
        padding: $ptop $pleft;
        border-radius: $brd;
        font-size: $fs; 
        border: $bdClr;
        font-weight: $fw;
    }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
    scroll-behavior: smooth;
    scroll-margin-block-start: 80px;    
}

header {
    font-family: $navFont;
    nav {
        font-weight: 440;
    }
    #check {
        display: none;
        &:checked ~ ul {
            right: 0;
        }
        &:checked ~ .close {
            display: block;
        } 
    }
    .open {
        display: none;
        @media (max-width: 750px) { 
            display: block;
        }
    }
    .close {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(128, 128, 128, 0.388);
    }
    ul {
        transition-duration: 0.4s;
        @media (max-width: 750px) {
            z-index: 10;
            position: fixed;
            top: 0;
            right: -100%;
            height: 100vh;
            width: 60vw;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

.showcase {
    &__content {
    }
    &__link {
        width: 40px;
    }
}

.btn {
    cursor: pointer;
    display: block;
    text-align: center;
    width: 45%;
    transition-duration: 0.4s;
    @include btnn($ptop: 10px, $pleft: 0px, $brd: 25px, $bgClr: white, $clr: black, $bdClr: 2px solid rgb(46, 45, 45), $fw: 550);
    &--black {
        color: black;
        background: white;
        &:hover, &:focus, &:active {
            color: white;
            background: black;
        }
    }
    &--gray {
        color: white;
        background: rgb(42, 41, 41);
        &:hover, &:focus, &:active {
            color: rgb(42, 41, 41);
            background: white;
        }
    }
    &--fixed {
        width: 130px;
        // color: #00008b;
    }
}
 
footer {
    li {
        transition-duration: 0.4s;
        &:hover, &:active, &:focus {
            color: rgb(91, 90, 90);
        }
    }
}

#about {
    scroll-margin-block-start: -300px;    
   
}